.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.dropdown-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: inherit;
}

.options-list-container {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
  position: absolute;
  background: #ffffff;
  transform: translateY(60%) translateX(-30%);
  padding: 25px 25px 15px 25px;
  border-radius: 20px;
  display: flex;
  border: 1px solid white;
  flex-direction: column;
}

.options-list-container:before,
.options-list-container:after {
  content: '';
  position: absolute;
  bottom: 100%;
  right: 19px;
  border: 11px solid transparent;
}

.options-list-container:after {
  right: 20px;
  border: 10px solid transparent;
  border-bottom-color: #ffffff;
}

.option-item {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-bottom: 10px;
}

.option-item-active {
  color: #323ec6;
}
