@import 'styles/colors';

.home-lead-screen-container {
  width: 100%;
  display: flex;
  height: calc(100vh - 70px);
  justify-content: space-around;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.home-lead-screen-figure {
  width: 30vw;
  height: 30vw;

  margin: 0 80px 0 auto;
}

.home-lead-screen-text-container {
  position: absolute;
  left: 200px;
  width: 700px;
  display: flex;
  flex-direction: column;
  padding-bottom: 35px;
}

.home-lead-screen-title {
  font-family: Suranna;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;

  width: 80%;
  font-size: 48px;
  margin-bottom: 18px;
  font-weight: 400;
}

.home-lead-screen-subtitle {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 19px;
  background: #090b2f;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: Gilroy;
}

.home-lead-screen-text {
  font-size: 16px;
  line-height: 21px;
  color: #090b2f;
}

#home-background {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: calc(100vh + 5px);
  z-index: -1;
  background-color: #090B2F
}

.loaded {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: calc(150vh + 5px) !important;
  z-index: 0;
  background-color: white !important;
}

.home-lead-screen-learn_more {
  position: absolute;
  outline: none;
  border: 0;
  background-color: transparent;
  width: 120px;
  height: 50px;
  bottom: 50px;
  left: 1000px;
  text-align: right;
  /* border-top: 1px solid #BFBFBF; */
  transform: rotate(-90deg) translateY(-50px) translateX(70px);
  cursor: pointer;
}

.home-lead-screen-learn_more::before {
  display: block;
  content: '';
  width: 120px;
  height: 2px;
  background: #bfbfbf;

  padding-left: 30px;

  transform: translateX(-30px);
  transition: all 0.6s ease-in;
}

.home-lead-screen-learn_more:hover::before {
  width: 0px !important;
  padding: 0px !important;

  transition: all 0.6s ease-in;
}

.home-get_started-btn {
  width: 182px;
  background-color: $light-purple;
  color: white;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 35px;
  padding-right: 35px;
  cursor: 'pointer';
  border: 'none';
  outline: 'none';
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  justify-content: center;
}

.home-get_started-btn-arrow {
  margin-left: 10px;
  margin-top: 2px;
}

@media (max-width: 2100px) {

  .home-lead-screen-learn_more {
    left: 900px;
  }
}

@media (max-width: 1900px) {

  .home-lead-screen-learn_more {
    left: 800px;
  }
}

@media (max-width: 1670px) {
  .home-lead-screen-text-container {
    width: 600px;
  }

  .home-lead-screen-learn_more {
    left: 700px;
  }
}

@media (max-width: 1600px) {
  .home-lead-screen-learn_more {
    left: 650px;
  }

  .home-lead-screen-title {
    font-size: 2rem !important;
    line-height: 30px;
  }

  .home-lead-screen-subtitle {
    font-size: 1rem !important;
  }

  .home-lead-screen-text-container .button-reusable {
    padding: 5px 10px !important;
  }

  .home-lead-screen-text-container .button-reusable span {
    font-size: 1rem !important;
  }
}

@media (max-width: 1400px) {
  .home-lead-screen-text-container {
    width: 500px;
    left: 150px;
  }

  .home-lead-screen-learn_more {
    left: 550px;
  }
}


@media (max-width: 1100px) {
  .home-lead-screen-text-container {
    width: 500px;
    left: 100px;
  }

  .home-lead-screen-learn_more {
    left: 450px;
  }
}


@media (max-width: 950px) {
  .home-lead-screen-learn_more {
    left: 350px;
  }
}
@media (max-width: 900px) {
  .home-lead-screen-text-container {
    width: 400px;
    left: 60px;
  }

  .home-lead-screen-learn_more {
    left: 350px;
    bottom: 0px;
  }

  .home-lead-screen-title {
    font-size: 1.5rem !important;
    line-height: 30px;
  }

  .home-lead-screen-subtitle {
    font-size: 0.8rem !important;
  }

  .home-lead-screen-text-container .button-reusable {
    padding: 5px 10px !important;
  }

  .home-lead-screen-text-container .button-reusable span {
    font-size: 0.8rem !important;
  }
}

@media (max-width: 800px) {
  .home-lead-screen-text-container {
    width: 350px;
    left: 40px;
  }

  .home-lead-screen-learn_more {
    left: 300px;
  }
}

@media (max-width: 650px) {
  .home-lead-screen-text-container {
    left: 20px;
  }

  .home-lead-screen-learn_more {
    left: 250px;
  }
}