@import '../../../../styles/colors';

.teams-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: max-content;
  margin-bottom: 20px;

  background-color: #090b2f;
}

.teams-title-container {
  margin-top: 10px;
  margin-bottom: 25px;
  width: 85vw;
  display: flex;
  flex-direction: column;
}

.teams-list {
  width: 85vw;
  display: flex;
  justify-content: center;
}

.teams-title {
  font-family: Suranna;
  color: #eff0f1;
  margin: 0;
  padding: 0;
  font-size: 3rem;
  border-bottom: 1px solid $light-purple;
}

.teams-title-description {
  margin-top: 5vh;
  color: #eff0f1;
}

.carousel__container {
  max-width: 100vw;
  margin: auto;
}

.carousel__slider {
  padding-left: 20%;
  padding-right: 20%;
  max-width: 100vw;
}

.carousel__inner-slide {
  width: calc(100% - 40px);
  height: calc(80vh - 20px);
  display: flex;
}

.teams-carousel {
  margin-bottom: 30px;
  width: 100%;
  height: 60vh;
}

.teams-carousel-controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.teams-carousel-controls-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #aaabbb;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  background-color: transparent;
}

.teams-carousel-controls-btn-right {
  margin-left: 25px;
  transform: rotate(180deg);
}

.carousel__dot-group {
  display: flex;
}

.carousel__dot {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  border: 1px solid #aaabbb;
  outline: none;
  margin: 5px;
  background-color: transparent;
}

.carousel__dot--selected {
  width: 15px;
  height: 15px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #aaabbb;
  background-color: $light-purple;
  border: 0;
}
