@import '../../../../styles/colors';

.teams-container-mobile {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #090b2f;
}
.teams-title-mobile {
  color: #ffffff;
}

.teams-title-mobile {
  color: #ffffff;
}

.teams-title-description-mobile {
  margin-top: 15px;
  line-height: 21px;
  color: #ffffff;
}

.teams-list-mobile {
  display: flex !important;
  flex-direction: row !important;

  flex-wrap: wrap;
  justify-content: center;
}

.teams-title-container-mobile {
  padding: 0 25px;
  margin-bottom: 25px;
  color: #ffffff;
}

.teams-title-mobile {
  font-size: 32px;
  border-bottom: 1px solid $light-purple;
  color: #ffffff;
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .teams-container-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    padding-top: 20px;

    background-color: #090b2f;
  }

  .teams-title-container-mobile {
    padding: 0 25px;
    margin-bottom: 25px;
    color: #ffffff;
  }

  .teams-title-mobile {
    font-size: 32px;
    border-bottom: 1px solid $light-purple;
    color: #ffffff;
  }

  .teams-title-description-mobile {
    font-size: 12px;
    margin-top: 15px;
    line-height: 21px;
    color: #ffffff;
  }

  .teams-list-mobile {
    display: flex !important;
    flex-direction: row !important;

    flex-wrap: wrap;
    justify-content: center;
  }

  .carousel__container {
    margin: auto;
  }

  .carousel__slider {
    padding-left: 15%;
    padding-right: 15%;
  }

  .carousel__inner-slide {
    width: calc(100% - 10%);
    display: flex;
    padding-bottom: 0 !important;
  }

  .teams-carousel-mobile {
    margin-bottom: 30px;
    width: 100%;
  }

  .teams-carousel-controls {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .teams-carousel-controls-btn {
    width: 40px;
    height: 40px;
    border: 1px solid #aaabbb;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    background-color: transparent;
  }

  .teams-carousel-controls-btn-right {
    margin-left: 25px;
    transform: rotate(180deg);
  }

  .carousel__dot-group {
    display: flex;
  }

  .carousel__dot {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    border: 1px solid #aaabbb;
    outline: none;
    margin: 5px;
    background-color: transparent;
  }

  .carousel__dot--selected {
    width: 15px;
    height: 15px;
    outline: none;
    border-radius: 15px;
    border: 1px solid #aaabbb;
    background-color: $light-purple;
    border: 0;
  }

  @media only screen and (min-width: 320px) and (max-width: 700px) {
    .teams-list-mobile {
      display: flex !important;
      flex-direction: row !important;

      flex-wrap: wrap;
      justify-content: center;
    }
    .teams-carousel-controls {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      align-items: center;
      margin-top: 30px;
    }

    .teams-carousel-controls-btn {
      width: 40px;
      height: 40px;
      border: 1px solid #aaabbb;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
    }

    .teams-carousel-controls-btn-right {
      margin-left: 25px;
      transform: rotate(180deg);
    }
  }
}
