@import 'styles/colors';

.roadmap-container-mobile {
  padding: 5vh 0;
  margin: 0px auto;
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  align-items: center;
}

.roadmap-title-mobile {
  font-size: 36px;

  line-height: 51, 59px;
  font-family: Suranna;
}

.roadmap-line-mobile {
  width: calc(25vw - 2px);
  border-right: 2px solid $light-purple;
}

.roadmap-block-mobile {
  width: 100%;
  margin: 0px auto;
}

.roadmap-item-mobile {
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  position: relative;

  margin: 0px auto 15px auto;
}

.roadmap-section-title-container-mobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 0px;
}

.roadmap-item-title-mobile {
  color: $light-purple;
  font-weight: 600;
  font-size: 3vw;
  line-height: 21px;
}

.roadmap-item-stick-mobile {
  width: 0px;
  height: calc(100% + 40px);
  position: absolute;
  top: 100%;
  border: 1px solid $dark-purple;
}

.roadmap-title-text-mobile {
  font-size: 5vw;
  font-weight: 900;
  color: $light-purple;
  text-transform: uppercase;
  margin-right: 30px;
}

.roadmap-item-circle {
  width: 20px;
  height: 20px;
  border: 2px solid $light-purple;
  border-radius: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.road-map-block-title {
  padding-top: 5px;
  font-weight: 600;
  font-size: 14px;
  color: $light-purple;
}

.roadmap-item-description-container-mobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50vw;
}

.road-map-item-description {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #090b2f;
}

.roadmap-item-description-container-mobile p {
  margin-top: 0;
}

@media only screen and (max-width: 4000px) and (max-height: 2000px) and (min-width: 2000px) and (min-height: 1600px) {
  .road-map-item-description {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: #090b2f;
    margin-left: 24px;
  }
}

.roadmap-item-invisible {
  opacity: 0;
}

.scroll-animation {
  animation-name: roadmapItemAppear;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
}

@keyframes roadmapItemAppear {
  from {
    opacity: 0;
    padding-top: 60px;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 1;
    padding-top: 0px;
  }
}

.roadmap-item-invisible {
  padding-top: 60px;
}
