RewriteEngine On
RewriteBase /

RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP_HOST} ^nftbased\.net$ [OR]
RewriteCond %{HTTP_HOST} ^www\.nftbased\.net$
RewriteRule .* https://www.nftbased.net%{REQUEST_URI} [R=301,L]
