.invited-users-container-mobile {
  background-color: white;
  position: relative;
  height: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
  padding: 15px;
  width: calc(100% - 60px);
  margin-bottom: 30px;
}

.invited-users-referral-container-mobile {
  width: calc(100%);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 20px;
}

.invited-users-referral-title-mobile {
  font-weight: 600;
  font-size: 20px;
}

.invited-users-referral-header {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.invited-users-referral-text-container {
  background: #f6f6f6;
  border: 1px solid #dedee1;
  border-radius: 10px;
  padding: 15px 10px;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.invited-users-referral-text {
  font-size: 3vw;
  color: #090b2f;
}

.invited-users-referral-copy-btn {
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #dedee1;
  border-radius: 5px;
  padding: 8px;
}

.referral-URL-text-container:active {
  opacity: 0.4;
}

.invited-users-title-container-mobile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.invited-users-title-text-mobile {
  font-weight: 600;
  font-size: 20px;
  margin-top: 30px;
}

.invited-users-list-mobile {
  width: 100%;
  height: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.invited-users-titles-mobile {
  width: calc(100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 24px;
  color: #878691;
}

.invited-users-item-mobile {
  width: calc(100% - 42px);
  padding: 7px 20px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #dedee1;
  border-radius: 10px;
  font-size: 14px;
  color: #878691;
}

.invited-users-item-value-mobile {
  font-size: 3.5vw;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.invited-users-item-value-name {
  justify-content: flex-start;
  text-align: left;
}

.invited-users-item-value-brought {
  justify-content: flex-end;
  text-align: right;
}
