.get-started_container {
  display: flex;
  flex-direction: column;
}

/* .get-started-bg_1 {
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -3;
    top: 0;
} */

.get-started-bg_2 {
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
  top: 0;
  left: 100px;
}
