@import '../../styles/colors';

.fixed-header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  top: -60px;
  left: 0;

  background-color: $dark-purple;

  height: 80px;
  width: 100vw;

  opacity: 0;
  z-index: 0;

  transition: all 0.6s ease-in;
}

.fixed-header span {
  color: white;
  margin: 0 20px;
  font-weight: bold;
}

.fixed-header-button span {
  color: #000;
  font-weight: 600;
  font-weight: bold;
}

.fixed {
  top: 0;
  opacity: 1 !important;
  z-index: 10;

  transition: all 0.6s ease-in;
}

@media (max-width: 900px) {
  .fixed-header {
    flex-direction: column;
  }
}

@media (max-width: 350px) {
  .fixed-header span {
    font-size: 0.9rem;
  }
}
