@import 'styles/colors';

.menu-container {
  display: flex;
  width: calc(100vw - 2rem);
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 100px;
  background: white;
  height: 100vh;
  text-align: left;
  padding-left: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  z-index: 9;
  color: black;
}

.menu-container-active {
  transform: translateX(0);
  overflow: hidden;
}

.menu-item-mobile {
  margin: 0 15px;
  display: inline;
  padding-bottom: 20px;
  cursor: pointer;
  width: max-content;
}

.active-menu-item-text-mobile {
  border-bottom: 2px solid $light-purple;
  padding-bottom: 2px;
}
