@import 'styles/colors';

.full-container-mobile {
  position: relative;
  width: 100vw;

  background: #090b2f;

  height: auto;
}
.support-container-mobile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;

  max-width: 900px;
  margin: 0 auto;

  min-height: 91vh;


  .input-container-title-mobile, .field-text-mobile span {
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #dedee1 !important; 
    padding: 0;
  }
}

.support-title-mobile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Suranna;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0em;
  text-align: left;

  color: #dedee1;

  position: relative;
  user-select: none;
}

.support-title-mobile::after {
  position: absolute;
  content: '';
  transform: rotate(90deg) translateX(28px) translateY(0px);
  height: 160px;
  width: 1px;

  background: $dark-purple;
}

.support-forms-mobile {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;

  width: 100%;

  gap: 40px;

  margin-top: 25px;
  padding-bottom: 50px;
}

.support-input-container-mobile {
  width: 48%;

  display: flex;
  flex-direction: column;

  gap: 10px;
  min-width: 260px;

  flex: none;
}


.support-input-container-mobile:nth-child(4) {
  gap: 20px;
}

// .field-text-mobile span {
//   color: #2b2b2b !important;
// }

.support-input-container-mobile input {
  background: transparent;
  border: 1px solid #878691;
  border-radius: 10px;

  color: #dedee1 !important;
  outline: none;

  min-height: 40px;
  max-height: 60px;

  padding: 15px 30px;

  transition: all 0.3s ease;

  cursor: pointer !important;
  position: relative;
}

.support-input-container-mobile .field-error-text-mobile {
  bottom: -30px;
}

.support-input-container-mobile input:focus,
.support-text-area-mobile:focus, .text-area-mobile:focus, .custom-checkbox-container-mobile:hover .checkmark{
  border: 1px solid $dark-purple;
  transition: all 0.3s ease;
}

.support-input-container-mobile:nth-child(4) {
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 10px;
}

.support-input-container-mobile:nth-child(4) .input-container-title-mobile {
  padding-bottom: 7px;
}

.custom-checkbox-container-mobile {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  height: 32px;
  width: 32px;

  overflow: hidden;
}

.custom-checkbox-container-mobile input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 32px !important;
  width: 32px !important;

  min-height: 0 !important;
  z-index: 5;
}

.stick-one-mobile,
.stick-two-mobile {
  position: absolute;
  bottom: -25px;

  height: 90%;
  width: 1px;

  background: #dedee1;

  opacity: 0;
}
.stick-one-mobile {
  transform: rotate(45deg);
  transition: all 0.3s ease;
}

.stick-two-mobile {
  transform: rotate(-45deg);
  right: 0;
  transition: all 0.3s ease;
}

.active-stick-one-mobile {
  transform: rotate(45deg) translateY(-30px) translateX(-8px);
  transition: all 0.3s ease;
  transition: opacity 0.1 ease;
  opacity: 0.8;
}

.active-stick-two-mobile {
  transform: rotate(-45deg) translateY(-30px) translateX(8px);
  transition: all 0.3s ease;
  transition: opacity 0.1 ease;
  opacity: 0.8;
}

.checkmark-mobile {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background: transparent;
  border: 1px solid #878691;
  border-radius: 10px;
}

.support-text-area-container-mobile {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 10px;
}

.text-area-mobile {
  width: calc(46% - 4px);

  background: transparent;
  color: #dedee1;
  border: 1px solid #878691;
  border-radius: 10px;

  padding: 10px;
  outline: none;

  max-height: 200px;
  min-height: 100px;
  min-width: 260px;
  resize: none;

  transition: all 0.3s ease;
  cursor: pointer !important;
}

.support-button-container-mobile {
  text-decoration: none;
  background: #6924D9;
  border-radius: 5px;
  max-width: 100px;
  height: 25px;
  border: 0;

  padding: 15px 50px;
}

.support-footer-mobile {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin: 25px auto 0px auto;
}

.support-footer-mobile span,
.support-footer-mobile span a {
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: right;

  display: flex;
  gap: 10px;
  align-items: center;

  margin-left: 20px;
}

.support-footer-mobile a svg {
  height: 100% !important;
  width: 16px;
}

.support-text-area-container-mobile .input-container-title-mobile {
  width: 48% !important;
}

.support-button-container-mobile {
  width: 48%;
}
@media (max-width: 400px) {
  .support-container-mobile {
    width: 90%;
  }

  .support-input-container-mobile {
    width: 90%;
  }
  .support-footer-mobile span,
  .support-footer-mobile span a {
    font-size: 10px;
    gap: 0;
  }
  .support-title-mobile {
    justify-content: flex-start;

    margin: 0 auto;
    width: 90%;
  }

  .support-title-mobile::after {
    position: absolute;
    content: '';
    transform: rotate(90deg) translateX(28px) translateY(-80px);
    height: 160px;
    width: 1px;

    background: $dark-purple;
  }

  .support-footer-mobile {
    width: 90%;
    justify-content: space-between;
  }

  .input-container-title-mobile:nth-child(2) {
    margin-left: 0;
  }

  .support-text-area-container-mobile {
    width: 90%;
    min-width: 260px;
    position: relative;
  }

  .text-area-mobile {
    width: calc(100% - 5vw);
  }

  .support-button-container-mobile {
    width: 90%;
  }
}
