@import '../../../../styles/colors';

.home-article_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-article_text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  padding: 5vw;
}
.home-article_text-container-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90vw;
  padding: 5vw;
}
.home-article_img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 40vw;
  height: 50vw;

  margin: 0 auto;
}
.home-article_img-container-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 50vh;
}
.home-article_img {
  width: 30vw;
  height: 30vw;

  max-width: 100vw;
}
.home-article_img-mobile {
  width: 35vh;
  height: 35vh;
  max-width: 100%;
}

.home-article-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.home-article-container-mobile {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-article-text-block-right {
  width: 35vw;
  padding-right: 17vw;
  padding-left: 3vw;
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.home-article-text-block-left {
  width: 30vw;
  padding-left: 12vw;
  padding-right: 12vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.home-article-title {
  font-size: 48px;
  color: #090b2f;
  font-family: 'Suranna';
  height: 5vh;
}

.home-article-subtitle {
  font-weight: 600;
  font-size: 16px;
  margin: 10px 0 10px 0;
  background: -webkit-linear-gradient(#9060dd, #a47be7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-article-text {
  line-height: 20px;
  margin-top: 20px;

  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: justified;
}

.home-article-img-container-left {
  width: 40vw;
  height: 100vh;
  padding-right: 10vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.home-article-img-container-right {
  width: 40vw;
  height: 100vh;
  padding-left: 10vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.home-article-img {
  width: 35vw;
}

.home-article-read_more-container {
  margin-top: 5rem;
}

.home-article-read_more-btn {
  cursor: pointer;
  padding: 11px 40px;
  background-color: $light-purple;
  color: white;
}

.home-article-read_more-btn:active {
  opacity: 0.5;
}

@media (max-width: 1600px) {
  .home-article-title {
    font-size: 2rem;
  }

  .home-article-text {
    font-size: 0.8rem !important;
  }
}
