@import '../../../../styles/colors';

.home-article_container-mobile {
  width: 100vw;
  height: max-content;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.home-article-img-container-mobile {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.home-article-text-block-mobile {
  width: calc(100vw - 60px) !important;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 560px) and (max-width: 924px) {
  .home-article-text-block-mobile div {
    text-align: center;
  }

  .home-article-title-mobile {
    text-align: center !important;
  }

  .home-article-text-mobile {
    text-align: center !important;
  }
}

.reversed {
  flex-direction: column-reverse;
}

.spacedTop {
  padding-top: 15vh;
}

.home-article-title-mobile {
  font-size: 5vh;
  color: #090b2f;
  font-family: 'Suranna';

  text-align: left;
}

.home-article-subtitle-mobile {
  font-weight: 600;
  font-size: 3vh;
  margin-bottom: 10px;
  background: -webkit-linear-gradient(#9060dd, #a47be7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 700px) {
  .home-article-text-mobile {
    font-size: 16px !important;
  }

  .home-article-title-mobile {
    font-size: 36px !important;
  }
}

.home-article-text-mobile {
  font-size: 1.5vh;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: justified;

  margin-top: 15px;
}

.home-article-img-mobile {
  width: auto;
  height: 40vh;

  max-width: 100vw;
}

.home-article-read_more-container-mobile {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.home-article-read_more-btn {
  font-size: 1.8vh;
  cursor: pointer;
  padding: 11px 40px;
  background-color: $light-purple;
  color: white;
}
.home-article-read_more-btn:active {
  opacity: 0.5;
}

@media (max-width: 340px) {
  .home-article_container-mobile {
    margin-top: 70px;
  }
}
