.home-token-sale-container-mobile {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #090b2f;

  min-height: 75vh;
}

.home-token-sale-title-mobile {
  font-size: 40px;
  color: #ffffff;
  font-family: 'Suranna';

  margin-bottom: 20px;
}

.home-token-sale-figure-mobile {
  width: 500px;

  margin-bottom: 20px;
  max-width: 100vw;
}

@media (max-width: 768px) {
  .home-token-sale-figure-mobile {
    width: 500px;
  }
}

@media (max-width: 460px) {
  .home-token-sale-figure-mobile {
    width: 300px;
  }
}

@media (max-width: 360px) {
  .home-token-sale-figure-mobile {
    width: 250px;
  }
}
