@import 'styles/colors';

.home-last-screen-container-mobile {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #090b2f;
  overflow: hidden;
}

.home-last-screen-figure-mobile {
  width: 100vh;
  height: auto;
}

@media (max-width: 300px) {
  .home-last-screen-figure-mobile {
    width: 60vh;
    height: auto;
  }
}

.home-last-screen-title-mobile {
  font-family: Gilroy;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;

  color: white;
  margin-bottom: 25px;
}

.home-get_started-btn-mobile {
  width: 182px;
  background-color: $light-purple;
  color: white;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 35px;
  padding-right: 35px;
  cursor: 'pointer';
  border: 'none';
  outline: 'none';
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  justify-content: center;
}

.home-get_started-btn-arrow-mobile {
  margin-left: 10px;
  margin-top: 2px;
}
