@import 'styles/colors';

.home-last-screen-container {
  width: 100%;
  min-height: 75vh;
  padding-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #090b2f;
}

.home-last-screen-figure {
  margin-top: 10px;
  width: 90vh;
  height: 50vh;

  max-width: 100vw;
}

.home-last-screen-title {
  font-family: Gilroy;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;

  margin-bottom: 25px;
  color: white;
}

.home-get_started-btn {
  width: 182px;
  background-color: $light-purple;
  color: white;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 35px;
  padding-right: 35px;
  cursor: 'pointer';
  border: 'none';
  outline: 'none';
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  justify-content: center;
}

.home-get_started-btn-arrow {
  margin-left: 10px;
  margin-top: 2px;
}
