.register-container-mobile {
  width: 100%;

  margin-bottom: 35px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-block-mobile {
  padding: 30px;
  margin: 0 20px 50px 20px;

  border: 1px solid rgba(8, 12, 42, 0.5);
  background-color: white;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% - 100px);
  justify-content: space-between;
}

.register-particles-mobile {
  position: fixed;
  z-index: -1;
  bottom: 0;
  width: 100vw !important;
  height: 100vh !important;
  transform: rotate(90deg) translateX(30vh) translateY(5px) !important;
  background-color: #080c2a;
}

.register-title-mobile {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.register-form-mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-fields-mobile {
  display: flex;
  flex-direction: column;
}

.register-btn-mobile {
  background-color: #323ec6;
  color: white;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 20px 0;
  margin-bottom: 20px;
  cursor: pointer;
}

.register-btn-mobile:active {
  opacity: 0.5;
}

.goto-login-btn-mobile {
  background-color: white;
  color: #323ec6;
  border: 1px solid #323ec6;
  text-align: center;
  cursor: pointer;
}

.goto-login-btn-mobile:active {
  opacity: 0.5;
}

.field-input-dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  background-color: #f6f6f6;
}

.field-input-dropdown-text {
  font-weight: normal;
  font-size: 14px;
  color: black;
  cursor: pointer;
}

.countries-list-mobile {
  overflow: scroll;
  display: flex;
  flex-direction: column;
  width: calc(100% - 45px);
  border-radius: 10px;
  padding: 22px;
  position: absolute;
  z-index: 1;
  background-color: #f6f6f6;
  bottom: -200px;
  opacity: 0.8;
  border: 1px solid #dedee1;
  max-height: 200px;
}

.country-option {
  cursor: pointer;
  margin: 5px 0;
  text-align: left;
  border: none;
  background-color: transparent;
  outline: none;
}
