@import 'styles/colors';

.plan-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 13vw;
  margin: 0 0.5vw;
  background-color: transparent;
  border: 1px solid #aaabbb;
  border-radius: 20px;
  padding: 40px 0px 30px 0px;
  position: relative;
}

.plan-item-container:hover {
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
}

.plan-item-container:nth-child(3) {
  border: 3px solid $light-purple;
}

.plan-item-container:nth-child(3)::before {
  position: absolute;
  top: -7px;
  right: 22px;
  content: url('../../img/bookmark-icon.svg');
}

.plan-item-img {
  width: 80% !important;
}

.plan-item-name {
  font-weight: 600;
  /* font-size: 18px; */
}

.plan-item-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Gilroy;
  /* font-size: 1rem; */
  font-weight: 600;
  text-transform: uppercase;
}

.plan-item-description {
  /* font-size: 1rem; */
  line-height: 21px;
}

.plan-item-price {
  font-weight: bold;
  /* font-size: 2rem; */
  margin-bottom: 40px;
}

.plan-item-options-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.plan-item-option-item {
  width: 13vw;
  color: #878691;
  padding: 7px 0;
  margin: 7px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.plan-item-option-item-icon {
  width: 15px;
  margin-right: 20px;
}

.plan-item-select-btn {
  padding: 15px 70px;
  background-color: $light-purple;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  color: white;
  border-radius: 50px;
  cursor: pointer;
}
.plan-item-select-btn:active {
  opacity: 0.5;
}

.plan-item-container a {
  width: 80%;
  margin: 0 auto;
}

.plan-item-container a .button-reusable {
  padding: 10px 15px;
  width: 70% !important;
  margin: 0 auto;
}

@media (max-width: 1600px) {
  .plan-item-container {
    padding: 20px 0px 15px 0px !important;
  }

  .plan-item-container:nth-child(3)::before {
    transform: scale(0.5);
    top: -16px;
  }

  .plan-item-price {
    margin-top: 10px;
    margin: 10px;
  }

  .plan-item-option-item {
    padding: 5px 0;
  }

  .plan-item-options-list {
    margin-bottom: 10px !important;
  }

  .plan-item-container:nth-child(3) {
    border: 2px solid $light-purple;
  }
}

@media (max-height: 900px) {
  .plan-item-container {
    padding: 15px 0px 15px 0px !important;
  }

  .plan-item-container:nth-child(3)::before {
    transform: scale(0.5);
    top: -16px;
  }

  .plan-item-price {
    /* font-size: 0.6rem; */
    margin-top: 8px;
    margin-bottom: 8px !important;
  }

  .plan-item-option-item {
    /* font-size: 0.5rem; */
    padding: 5px 0;
  }

  .plan-item-options-list {
    margin-bottom: 8px !important;
  }

  .plan-item-container .button-reusable {
    padding: 2px 5px !important;
  }

  .plan-item-container:nth-child(3) {
    border: 2px solid $light-purple;
  }

  .plans-list {
    margin-top: 10px !important;
  }

  .plans-footer-title {
    margin-top: 15px !important;
  }

  .plans-title-description {
    margin: 0 !important;
  }
}

@media (max-width: 900px) {
  .plan-item-container {
    padding: 15px 0px 15px 0px !important;
  }

  .plan-item-container:nth-child(3)::before {
    transform: scale(0.5);
    top: -16px;
  }

  .plan-item-price {
    /* font-size: 0.6rem; */
    margin-top: 8px;
    margin-bottom: 8px !important;
  }

  .plan-item-option-item {
    /* font-size: 0.5rem; */
    padding: 5px 0;
  }

  .plan-item-options-list {
    margin-bottom: 8px !important;
  }

  .plan-item-container:nth-child(3) {
    border: 2px solid $light-purple;
  }

  .plans-list {
    margin-top: 10px !important;
  }
}
