@import 'styles/colors';

.login-block-mobile {
  padding: 25px;

  background-color: white;
  border-radius: 20px;

  display: flex;
  width: calc(100vw - 100px);
  margin: 0 30px;

  border-radius: 20px;

  display: flex;
  border: 1px solid rgba(8, 12, 42, 0.5);
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  max-width: 600px;
}

.login-container-mobile {
  height: fit-content;
  /* padding-top: 50px; */
}

.login-background-mobile {
  position: fixed;
  top: 0;
  left: 50vw;
  width: 50vw;
  height: 100vh;
  z-index: -1;
  background-color: #080c2a;
}

.login-particles-mobile {
  position: fixed;
  z-index: -1;
  bottom: 0;
  width: 100vw !important;
  height: 100vh !important;
  transform: rotate(90deg) translateX(30vh) translateY(5px) !important;
  background-color: #080c2a;
}
.login-title-container-mobile {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.login-title-mobile {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

.login-form-mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login-btn-mobile {
  background: $dark-purple;
  color: white;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 17px 0;
  font-size: 14px;
  margin-bottom: 10px;
}

.login-btn:hover {
  cursor: pointer;
}
.login-btn:active {
  opacity: 0.3;
  cursor: pointer;
}

.goto-register-btn-mobile {
  background-color: white;
  color: $dark-purple;
  padding: 14px 0;
  border: 1px solid $dark-purple;
  text-align: center;
  margin-bottom: 0px;
}

.login-forget_pwd-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* margin-top: 12px;
    margin-bottom: 25px; */
}

.login-forget_pwd-text {
  color: $dark-purple;
}

.login-block-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-block-footer-text {
  color: #9e9e9e;
  margin-bottom: 20px;
}

.login-block-footer-social {
  margin: 0 8px;
}

@media (max-width: 350px) {
  .login-block-mobile {
    margin-top: 50px;
  }
}
