@import '../../styles/colors';

.plans-container {
  flex-direction: column;
  position: relative;
}

.plans-title-description {
  margin: 18px 0 28px 0;
}

.plans-title-container {
  margin: 0px auto 15px auto;
  width: calc(70vw);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.plans-list {
  width: 100%;
  display: flex;
  justify-content: center;
}

.plans-title {
  font-family: Suranna;
  margin: 0;
  padding: 0;
  font-size: 3rem;
  border-bottom: 1px solid $light-purple;
}

.plans-footer-title {
  margin-top: 50px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 151.7%;
  /* or 21px */

  text-align: center;

  /* Gray Text */

  color: #878691;
}

.carousel__container {
  max-width: 100vw;
  margin: auto;
}

.carousel__slider {
  padding-left: 20%;
  padding-right: 20%;
  max-width: 100vw;
}

.carousel__inner-slide {
  width: calc(100% - 40px);
  height: calc(80vh - 20px);
  display: flex;
}

.plans-carousel {
  margin-bottom: 30px;
  width: 100%;
  height: 60vh;
}

.plans-carousel-controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.plans-carousel-controls-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #aaabbb;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
  background-color: transparent;
}

.plans-carousel-controls-btn-right {
  margin-left: 25px;
  transform: rotate(180deg);
}

.carousel__dot-group {
  display: flex;
}

.carousel__dot {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  border: 1px solid #aaabbb;
  outline: none;
  margin: 5px;
  background-color: transparent;
}

.carousel__dot--selected {
  width: 15px;
  height: 15px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #aaabbb;
  background-color: $light-purple;
  border: 0;
}

@media (max-height: 850px) {
  .full_screen-container {
    padding-top: 0 !important;
  }

}
