.qr-wallet-container {
  background-color: white;
  width: 150px;
  height: 150px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding-top: 10px;
}
.qr-wallet-title {
  font-size: 12px;
  color: #878691;
  margin-top: 10px;
}
