@import '../../styles/colors';

.navbar-container {
  width: calc(100vw - 160px);

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  padding: 30px 80px 50px 80px;
  z-index: 1;
  position: relative;
}

.dark {
  background: #090b2f;
}

.logo-container {
  width: 15%;
}

.logo {
  width: 80px;
  height: auto;
  z-index: 3;
}

.navbar-right-block {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: auto;
}

.menu-item {
  z-index: 2;
  padding: 0 2vw;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.menu-item-non-hovered {
  padding: 0 2vw;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.menu-item-label:hover {
  color: $light-purple !important;
}

.menu-item-label {
  z-index: 3;
  cursor: pointer;
}
.active-menu-item-label {
  margin: '0 15px';
  border-bottom: 2px solid $light-purple;
  margin-bottom: -2px;
}

.menu-item:hover .menu-item-list-container {
  display: flex;
}

.menu-item-list-container {
  display: none;
  padding-top: 15px;
  top: 15px;
  background-color: transparent;
  position: absolute;
  z-index: 30;
}

.menu-item-list {
  background-color: white;
  box-shadow: 0px 33px 31px rgba(0, 0, 0, 0.1);
  padding: 25px;
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 10px;
  top: 25px;
}

.menu-item-list-item {
  display: flex;
  margin-bottom: 15px;
  flex: 1;
  flex-direction: column;
  width: 340px;
}

.menu-item-list-item-link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 16px;
  color: #090b2f;
}

.menu-item-list-item-text {
  font-size: 12px;
  color: #090b2f;
}

.active-menu-item {
  margin: '0 15px';
  border-bottom: 2px solid $light-purple;
  padding-bottom: 2px;
}

.get-early-access-btn {
  background-color: blue;
  color: white;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 35px;
  padding-right: 35px;
  cursor: pointer;
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.get-early-access-right-arrow {
  margin-left: 8px;
  width: 11px;
  height: 8px;
}

@media only screen and (max-width: 800px) and (max-height: 1280px) {
  .navbar-container {
    font-size: 17px;
  }
}

@media only screen and (min-width: 200px) and (max-width: 1000px) {
  .navbar-container {
    font-size: 2.1vw !important;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1900px) {
  .navbar-container {
    font-size: 1.1vw !important;
  }
}

@media only screen and (min-width: 1900px) and (max-width: 4000px) {
  .navbar-container {
    font-size: 0.9vw;
  }
}

.navbar-account-controls {
  display: flex;
  flex-direction: row;
}

.navbar-account-controls-btn {
  width: 44px;
  height: 44px;
  border: 0;
  outline: none;
  background: #515163;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  cursor: pointer;
}

.navbar-login-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}

.navbar-login-block div a span {
  font-weight: bold;
}

.navbar-login-block-link {
  margin: 0 10px;
}

@media (max-width: 1600px) {
  .navbar-login-block-link {
    margin: 0 auto;
  }

  .menu-item-label,
  .menu-item,
  .menu-item span,
  .navbar-login-block a {
    font-size: 1rem;
  }

  .menu-item {
    padding: 0px 20px;
  }

  .navbar-login-block {
    width: 100%;
  }
}

@media (max-width: 1400px) {
  .navbar span {
    display: none;
  }
}

@media (max-width: 1300px) {
  .menu-item {
    padding: 0 15px 0 7px;
  }

  .navbar-login-block {
    width: 100%;
  }

  .navbar {
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .logo-container .logo {
    width: 50px;
  }

  .menu-item-label,
  .menu-item,
  .menu-item span,
  .navbar-login-block a {
    font-size: 0.8rem;
    width: 60px;
    z-index: 3;
  }
}

@media (max-width: 600px) {
  .logo-container .logo {
    width: 40px;
  }

  .menu-item-label,
  .menu-item,
  .menu-item span,
  .navbar-login-block a {
    font-size: 0.6rem;
  }
}
