.wallet-address-container {
  background-color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

.wallet-address-title {
  font-weight: 600;
  font-size: 20px;
  margin-left: 30px;
}

.wallet-address-text-container {
  background: #f6f6f6;
  border: 1px solid #dedee1;
  border-radius: 10px;
  padding: 17px 22px 17px 0;
  margin-left: 30px;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  width: calc(100% - 60px);
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.wallet-address-text {
  font-size: 16px;
  line-height: 16px;
  margin: 0 30px;
  color: #090b2f;
}

.wallet-address-copy-btn {
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.wallet-address-text-container:active {
  opacity: 0.4;
}
