@import '../../styles/colors';

.footer-container-mobile {
  padding: 20px;
  background-color: #090b2f;
  color: white;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.footer-menu-mobile {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.footer-socials-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-follow-title-mobile {
  margin-bottom: 17px;
  color: #878691;
}

.footer-socials-list-mobile {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.footer-menu-subscribe-form-mobile {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.footer-social-item-mobile {
  border: 1px solid #878691;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 45px;
  cursor: pointer;
}

.footer-social-item-mobile:active {
  opacity: 0.5;
}

.footer-menu-section-item-mobile {
  padding-bottom: 20px;
  font-size: 14px;
  color: #f6f6f6;
  line-height: 10px;
  margin-right: 20px;
}

.footer-menu-subscribe-mobile {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;

  position: relative;
  min-height: 72px;
}

.footer-menu-subscribe-note-mobile {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: justify;

  color: #878691;
  margin-top: 20px;
}

.footer-menu-subscribe-title-mobile {
  font-weight: 600;
  font-size: 14px;
  color: $light-purple;
  margin: 20px 0;
  text-align: center;
}

.footer-menu-subscribe-mobile .field-container-mobile .field-input-mobile {
  padding: 10px;
  background: #f6f6f6;
  border: 1px solid #dedee1;
  box-sizing: border-box;
  border-radius: 10px;
  color: white;
  background-color: transparent;
  flex: 0 1;

  font-size: 14px;
  margin: 0;
}

.footer-menu-subscribe-mobile .field-container-mobile {
  margin: 0;
}

.footer-menu-subscribe-mobile .field-label-mobile {
  display: none;
}

.footer-menu-subscribe-btn-mobile {
  outline: none;
  width: 30%;
  background: $dark-purple;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 12px;
  height: 100%;
  min-height: 18px;
  padding: 10px;
}

@media (max-width: 370px) {
  .footer-menu-subscribe-btn-mobile {
    font-size: 10px;
    width: 30%;
  }
}

.footer-resources-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.footer-resources-mobile a {
  border: 0;
}

.footer-resources-text-mobile {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-top: 10px;
  color: #878691;
}
