@import 'styles/colors';

.tokens-container {
  background-color: white;
  width: 50%;
  margin: 0 15px 0 80px;
  height: 60vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
}

.tokens-title-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tokens-title-text {
  font-weight: 600;
  font-size: 1.2vw;
  margin: 2vh 0 0 30px;
}

.tokens-values-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tokens-count {
  flex: 1;
  margin-right: 15px;
  background-color: #f6f7fb;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
}

.tokens-count-icon {
  width: 28px;
  height: 28px;
  margin: 1rem;
}

.tokens-count-text {
  font-size: 1vw;
}

.tokens-in-dollars {
  flex: 1;
  margin-left: 15px;
  background-color: #f6f7fb;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-right: 20px;
}

.tokens-in-dollars-text {
  font-size: 1vw;
  margin-left: 22px;
}

.tokens-chart-container {
  background: #f6f7fb;
  border-radius: 10px;
  width: calc(100% - 80px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 10px;
}

.tokens-chart-currency {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tokens-chart-currency-nft {
  font-size: 1vw;
  color: $dark-purple;
}

.tokens-chart-currency-dollars {
  font-size: 1vw;
}

.tokens-chart-currency-changes-text {
  font-size: 1vw;
  line-height: 24px;
  color: #878691;
}

.tokens-buttons-container {
  width: calc(100% - 60px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0 30px;
}

.tokens-btn {
  padding: 1.5vh 4vw;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  flex: 1;
  cursor: pointer;
}

.tokens-btn-label {
  font-size: 0.5rem;
  text-align: center;
  color: #878691;
}

.tokens-btn-buy {
  background-color: #323ec6;
  color: white;
  border: 1px solid transparent;
  margin-right: 30px;
}

.tokens-btn-sell {
  background-color: #e8e9f1;
  color: black;
  border: 1px solid transparent;
}

.tokens-btn-trade {
  background-color: #e8e9f1;
  color: black;
  border: 1px solid transparent;
  margin-left: 30px;
}

.tokens-btn-container {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tokens-chart-range-buttons-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tokens-chart-range-button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;

  width: 2vw;
  height: 2vw;

  border: 1px solid #e8e9f1;
  border-radius: 10px;
  font-size: 0.6vw;

  margin-right: 5px;

  transition: all 0.5s;

  cursor: pointer;
}

.tokens-btn-buy:hover {
  color: white;
}
