@import '../../styles/colors';

.admin-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin-block {
  width: 30vw;
  border: 1px solid $light-purple;
  border-radius: 20px;
  padding: 30px;
}

.admin-title-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.admin-title {
  text-transform: uppercase;
  font-size: 24px;
  color: $light-purple;
  font-weight: 700;
}

.admin-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-btn {
  outline: 0;
  border: 0;
  background-color: $light-purple;
  color: white;
  padding: 10px 40px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}
