.account-container-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #090b2f;
}

.account-footer-wallet-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50vw;
  margin-left: 80px;
}
