.parallax-bg-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -10;
  overflow: hidden;
}

.parallax-bg-static-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 0;
}

@media only screen and (min-width: 1000px) and (max-width: 1900px) {
  .parallax-bg-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -10;
    top: 0;
    overflow: hidden;
  }
}
