.coming_soon {
  position: absolute;
  z-index: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding: 3px;
}

.coming_soon-text {
  color: white;
  font-size: 1.5rem;
}
