@import 'styles/colors';

.get-started-article-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.get-started-article-text-block {
  max-width: 60%;
  display: flex;
  flex-direction: column;
}

.get-started-article-title {
  font-size: 48px;
  color: #090b2f;
  border-bottom: 1px solid $light-purple;
  font-family: 'Suranna';
}

.get-started-article-text {
  line-height: 20px;
}

.get-started-article-img {
  width: 30%;
}
